<h1>Show Drawing</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @drawing.name %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @drawing.content %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.drawing_path(@conn, :edit, @drawing) %></span>
<span><%= link "Back", to: Routes.drawing_path(@conn, :index) %></span>
